
    <header id="main-header">
        <div id="main-header-top-bar">
            <a href="#" id="hamburguer-button">
                <i class="fas fa-bars"></i>
            </a>
            <figure><a href="/"><img id="logo" src="/images/sk8-logo.png" alt="logo"></a></figure>

            <form id="search" action="" method="post" target="_blank">
                <p> 
                    <input  type="search" placeholder="Buscar productos"><button type="submit" id="searchButton"><i class="fas fa-search"></i></button>
                </p>
            </form>

            <a href="/usuario/ingresa" id="user">
                <i class="fas fa-user  fa-2x"></i>
            </a>

            <a href="/carrito" id="shopping-cart">
                <i class="fas fa-shopping-cart  fa-2x"></i>
            </a>

        </div>

        <nav id="main-navbar">
            <ul>
                <li><a href="#">Mi primer Skate</a></li>
                <li><a href="#">Skates</a></li>
                <li><a href="#">Tablas</a></li>
                <li><a href="#">Trucks</a></li>
                <li><a href="#">Ruedas</a></li>
                <li><a href="#">Rulemanes</a></li>
                <li><a href="#">Lijas</a></li>
                <li><a href="#">Accesorios</a></li>
                <li><a href="#">Protecciones</a></li>
            </ul>
        </nav>
    </header>

