
    <header id="main-header">
        <div id="main-header-top-bar">
            <a href="#" id="hamburguer-button">
                <i class="fas fa-bars"></i>
            </a>
            <figure><a href="/"><img id="logo" src="/images/sk8-logo.png" alt="logo"></a></figure>

            <form id="search" action="" method="post" target="_blank">
                <p> 
                    <input  type="search" id="search_input" placeholder="Buscar productos"><button type="submit" id="searchButton"><i class="fas fa-search"></i></button>
                </p>
            </form>

            <%if(locals.isLogged) {%>
                <a href="/usuario/perfil" id="user">
                    <img src="/uploads/avatars/<%=locals.userLogged.image %>" width="40" style="border-radius: 100%; border: 1px solid rgb(255, 255, 255)">
                    <%= locals.userLogged.name %>
                </a>

                
            <% } else { %>  
                <a href="/usuario/ingresa" id="user">
                    <i class="fas fa-user  fa-2x"></i>
                </a>
            <% } %>

            <a href="/carrito" id="shopping-cart">
                <i class="fas fa-shopping-cart  fa-2x"></i>
            </a>

        </div>

        <nav id="main-navbar">
            <ul>
                <li><a href="/producto/">Mi primer Skate</a></li>
                <li><a href="/producto/">Skates</a></li>
                <li><a href="/producto/">Tablas</a></li>
                <li><a href="/producto/">Trucks</a></li>
                <li><a href="/producto/">Ruedas</a></li>
                <li><a href="/producto/">Rulemanes</a></li>
                <li><a href="/producto/">Lijas</a></li>
                <li><a href="/producto/">Accesorios</a></li>
                <li><a href="/producto/">Protecciones</a></li>
            </ul>
        </nav>
    </header>

