/*-----------------------Footer--------------------------------*/

footer{
    background-color: #ebe9eb;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    text-align: center;
    width: 100%;

}

footer h6{
    font-size: 15px;
}

footer article ul{
    list-style: none;
    font-size: 1rem;
}

#social-media ul{
    list-style: none;
    display: flex;
    justify-content:space-around;
}

