*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family:Poppins, arial, helvetica;
}


/*-----------------------Section--------------------------------*/

section{
    height:70vh;
    max-width: 90%;
    margin:auto;

}

.userForm{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    width: 90%;
    margin:auto;
    padding: 10px;
}

h3{
    margin-top: 20px;
}

fieldset{
    border: none;
    width: 100%;
    padding: 10px 5px;
}

.type{
    width: 100%;
    border: none;
    border-radius: 5px;
    font-size: 17px;
    padding: 5px;
    font-family: "Poppins";
    background-color:#ebe9eb;
}

.sendButton{
    width: 100%;
    font-size:17px;
    border-radius: 5px;
    border: 1px solid #3cff1e;
    background-color:#3cff1e;
    color: black;
    font-family: "Poppins";    
}

.sendButton:hover{
    background-color: #2eca16;
}

.createButton{
    font-size:17px;
    color: black;
    font-family: "Poppins";
    text-decoration: none;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    width: 90%;
    margin:auto;    
}


/*-----------------------Tablet--------------------------------*/

@media (min-width:600px){

    fieldset{
        display: flex;
        justify-content:center;
        width:50%
    }

    .sendButton{
        width: 50%;
    }
    
    .createButton{
        width: 50%; 
    }
}



/*-----------------------Desktop--------------------------------*/

@media (min-width:1000px){

}
