*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family:Poppins, arial, helvetica;
}


/*-----------------------Section--------------------------------*/

.bannerHome{
    max-width:100%;
}

section{
    max-width: 90%;
    margin:auto;
}

h1{
    text-align: center;
    color:#747274;
    margin: 3%;
}

.product{
    background-color: white;
    box-shadow: 0px 0px 10px rgb(190, 190, 190);
    padding: 5vw;
    border-radius: 3%;
    margin-bottom: 10px

}

.product-image{
    width: 90%;
    margin: 5%;
}

.product-name{
    font-size: 1rem;
}

.description{
    font-size: 1rem;
    font-weight: 200
}

.price{
    font-style: bold;
}

.buy{
    display: block;
    margin: 5px auto 0;
    background-color: #3cff1e;
    color: black;
    border-radius: 3px;
    border-color: none;
    appearance: none;
    border-style: none;
    padding: 5px 20px;
    width: 80%;
    font-family: Poppins;
}

.buy:hover{
    background-color: #2eca16;
}

.final-info{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-around;
    text-align: center;
    margin: 30px auto;
    padding: 20px;
    border-top: 1px solid #ebe9eb;
    color:#747274;
}

.final-info h6{
    font-size: 15px;
}

.icon{
    font-size: 50px;
    color: #fe4a49;
}


/*-----------------------Tablet--------------------------------*/

@media (min-width:600px){

    h1{
        width: 100%;
        font-size: 40px;
    }

    section{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .product{
        width: 40%;
        margin: 10px;
        flex-grow: 0.5;
    }
}

/*-----------------------Desktop--------------------------------*/

@media (min-width:1000px){

    .product{
        width: 20%;
        margin: 10px;
        flex-grow: 0.5;
        padding: 10px;

    }

}