*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family:Poppins, arial, helvetica;
}
#main-content{
    max-width: 90%;
    margin:auto;
}
.product{
    background-color: white;
    box-shadow: 0px 0px 10px rgb(190, 190, 190);
    padding: 5vw;
    border-radius: 3%;
    margin-bottom: 10px

}

.product-image{
    width: 90%;
    margin: 5%;
}

.product-name{
    font-size: 1rem;
}

.description{
    font-size: 1rem;
    font-weight: 200
}

.price{
    font-style: bold;
}

/*-----------------------Tablet--------------------------------*/
@media (min-width:600px){
    .product{
        width: 40%;
        margin: 10px;
        flex-grow: 0.5;
    }
    section{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
}
/*-----------------------Desktop--------------------------------*/
@media (min-width:1000px){
    .product{
        width: 20%;
        margin: 10px;
        flex-grow: 0.5;
        padding: 10px;
    }

}