/*
verde= #3cff1e
gris= #ebe9e9
*/
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family:Poppins, arial, helvetica;
}


/*----------------------section-product--------------------------*/
section{
    margin:auto;
    max-width: 90%;
    padding: 10px;
}
#rigth-top-section{
    margin-bottom: 5%;
}
#right-middle-section{
    margin-bottom: 5%;
}
#right-bottom-section{
    margin-bottom: 5%;
}

#relation{
    margin:auto;
    max-width: 90%;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.labels{
    font-weight: bold;
}

#pick-color{
    border: none
}

.buy-now{
    width: 100%;
    margin: auto;
    background-color: #3cff1e;
    color: black;
    margin-bottom: 5px;
    margin-top: 5px;
}

.buy-now:hover{
    background-color: #2eca16;
}

.add-to-cart{
    width: 100%;
    margin: auto;
    background-color:#ebe9e9;
    color: black;
}

.add-to-cart:hover{
    background-color:#b8b2b2;
}
.buy-now, .add-to-cart, .calculate{
    display: block;
    margin: 20px auto;
    border-radius: 3px;
    border-color: none;
    appearance: none;
    border-style: none;
    padding: 5px 20px;
    font-family: Poppins;
    max-width: 80%;
}

.cod-postal{
    font-family: Poppins;
    font-size: 1rem;
    margin: auto;
}
.calculate:hover{
    background-color:#b8b2b2;
}
#right-bottom-section{
    margin:20px;
    text-align: center;
}

.relatedProducts{
    margin:20px;
}

.product-image{
    width: 100%;
    margin: auto;
}
.product-relation{
    width: 90%;
    margin: auto;
    margin-top: 10px;
    box-shadow: 0px 0px 10px rgb( 100 , 100 , 100 );

}
.related-image{
    width: 100%;
    margin: auto;
}

/*****************************Queries*********************************/
@media (min-width:600px){
    h1{
        width: 100%;
        font-size: 40px;
    }
    .calculate{
        display:inline
    }
    .cod-postal{
        margin: 10px;
    }
}
@media(min-width:1000px){
    #main-section{
        display: flex;
        flex-wrap: wrap;
    }
    #right-section{
        width: 40%;
        margin-top: 10px;
    }

    #left-section{
        width: 59%;
    }
    #rigth-top-section{
        margin-top: 15%;
        margin-bottom: 15%;
    }
    #right-middle-section{
        margin-bottom: 15%;
    }
    #right-bottom-section{
        margin: auto;
        text-align: left;
    }
    /*.buy-now{
        margin-top: 20px;
        margin-bottom: 20px;
    }*/
    .cod-postal{
        width: 50%;
        margin: 0px 10px 0px 0px;
    }
    /*.relation{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }*/
    .product-image{
        width: 80%;
    }
    .product-relation{
        width: 30%;
    }
    
}