<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Sk8-Registro</title>
        <link href="/css/productUpdate.css" rel="stylesheet">
        <link href="/css/header.css" rel="stylesheet">
        <link href="/css/footer.css" rel="stylesheet">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100;1,200;1,300;1,400;1,500&display=swap" rel="stylesheet">
        <script src="https://kit.fontawesome.com/01e5ccde67.js" crossorigin="anonymous"></script>
    </head>
<body>
    <%- include("../partials/header")%>

        <section >
            <form id= "form-product" action="/producto/" method="post" enctype="multipart/form-data" >

            <h3>Creá el producto</h3>

            <fieldset>
                <label for="product-name"></label>
                <input class="product-input" type="text" name="productName" id="product-name" required placeholder="Nombre del Producto">
            </fieldset>
    
            <fieldset>
                <label for="product-brand">Marca:</label>
                <select name="productBrand" id="product-brand" required>
                    <option value="" selected disabled>Elegí una</option>
                    <option value="1">Marca 1</option>
                    <option value="2">Marca 2</option>
                    <option value="3">Marca 3</option>
                </select>
            </fieldset>
    
            <fieldset>
                <label for="product-descript"></label>
                <input class="product-input" type="textarea" name="productDescript" id="product-descript" required placeholder="Descripción">
            </fieldset>
    
            <fieldset>
                <label for="product-images">Imagen de Producto:</label>
                <input type="file" name="productImages" id="product-images" required >
            </fieldset>
    
            <fieldset>
                <label for="product-cat">Categoria:</label>
                <select name="productCat" id="product-cat" required>
                    <option value="1">Skates</option>
                    <option value="2">Tablas</option>
                    <option value="3">Trucks</option>
                    <option value="4">Ruedas</option>
                    <option value="5">Rulemanes</option>
                    <option value="6">Lijas</option>
                    <option value="7">Accesorios</option>
                    <option value="8">Protecciones</option>
                </select>
            </fieldset>
    
            <fieldset>
                <label for="product-colors">Colores:</label>
                <select name="productColors" id="product-colors" required multiple>
                    <option value="1">Blanco</option>
                    <option value="2">Negro</option>
                    <option value="3">Verde</option>
                </select>
            </fieldset>
    
            <fieldset>
                <label id="product-price" for="product-price">Precio:</label>
                <input class="product-input" type="text" name="productPrice" id="product-price" required placeholder ="$$$">
            </fieldset>
    
            <fieldset>
                <button id="sendButton" type="submit">Crear producto</button>
            </fieldset>
    
            <fieldset>
                <button id="eraseButton" type="reset">Borrar todo</button>
            </fieldset>
    
        </form>
        </section> 
    <%- include("../partials/footer")%>
</body>
</html>