<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sk8</title>
    <link href="css/main.css" rel="stylesheet">
    <link href="css/header.css" rel="stylesheet">
    <link href="css/footer.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100;1,200;1,300;1,400;1,500&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/01e5ccde67.js" crossorigin="anonymous"></script>
</head>

<body>
    <header class="main-header">
        <div class="main-header-top-bar">
            <a href="#" class="hamburguer-button">
                <i class="fas fa-bars"></i>
            </a>
            <figure><a href="/"><img class="logo" src="/images/sk8-logo.png" alt="logo"></a></figure>

            <form class="search" action="" method="post" target="_blank">
                <p> 
                    <input  type="search" placeholder="Buscar productos"><button type="submit" class="searchButton"><i class="fas fa-search"></i></button>
                </p>
            </form>

            <a href="/ingresa" class="user">
                <i class="fas fa-user  fa-2x"></i>
            </a>

            <a href="/carrito" class="shopping-cart">
                <i class="fas fa-shopping-cart  fa-2x"></i>
            </a>
            
        </div>

        <nav class="main-navbar">
            <ul>
                <li><a href="#">Mi primer Skate</a></li>
                <li><a href="#">Skates</a></li>
                <li><a href="#">Tablas</a></li>
                <li><a href="#">Trucks</a></li>
                <li><a href="#">Ruedas</a></li>
                <li><a href="#">Rulemanes</a></li>
                <li><a href="#">Lijas</a></li>
                <li><a href="#">Accesorios</a></li>
                <li><a href="#">Protecciones</a></li>
            </ul>
        </nav>
    </header>

    <div>
        <img class= "bannerHome" src="/images/bannerHome.png">
    </div>

    <section class="main-content">


        <h1>Destacados</h1>

        <article class="product">
            <img class="product-image" src="/images/tabla.png">
            <h5 class="product-name">Tabla Guatambú</h5>
            <p class="description">Tabla cóncava con doble kick</p>
            <p class="price">$5.000</p>
            <button class="buy">Comprar</button>
        </article>

        <article class="product">
            <img class="product-image" src="/images/rueda.png">
            <h5 class="product-name">Ruedas</h5>
            <p class="description">Diametro 53mm</p>
            <p class="price">$2.000</p>
            <button class="buy">Comprar</button>
        </article>

        <article class="product">
            <img class="product-image" src="/images/truck.png">
            <h5 class="product-name">Trucks</h5>
            <p class="description">Aluminio y ejes de acero templado.</p>
            <p class="price">$3.000</p>
            <button class="buy">Comprar</button>
        </article>

        <article class="product">
            <img class="product-image" src="/images/skate.png">
            <h5 class="product-name">Skate Armado</h5>
            <p class="description">Tabla doble kick 8"</p>
            <p class="price">$10.000</p>
            <button class="buy">Comprar</button>
        </article>
        
    </section>

    <section class="final-info">
        <div>
            <div class="icon"><i class="fas fa-credit-card"></i></div>
            <h3>Pagá con tarjeta o en Mercado Pago</h3>
            <p>Tenés cuotas sin interés con todas las tarjeta </p>
        </div>
        <div>
            <div class="icon"><i class="fas fa-truck"></i></div>
            <h3>Envíamos a todo el país</h3>
            <p>Envío gratis en compras mayores a $6.000</p>
        </div>
        <div>
            <div class="icon"><i class="fas fa-user-shield"></i></div>
            <h3>Tu compra está protegida</h3>
            <p>¿No te gusta? ¡Devolvelo, es así de fácil!</p>
        </div>
        
    </section>
    
    <footer>
        <article class="pay-method">
            <h6>Medios de pago</h6>
            <ul>
                <li>Tarjetas</li>
                <li>Mercado Pago</li>
            </ul>
        </article>

        <article class="social-media">
            <h6>Redes Sociales</h6>
            <ul>
                <li><i class="fab fa-instagram fa-2x"></i></li>
                <li><i class="fab fa-youtube fa-2x"></i></li>
            </ul>
        </article>

        <article class="contact">
            <h6>Contacto</h6>
            <ul>
                <li>WhatsApp</li>
                <li>e-mail</li>
                <li>Local</li>
            </ul>

        </article>

    </footer>
</body>
</html>