<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sk8 - Inicio sesión</title>
    <link href="css/login.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100;1,200;1,300;1,400;1,500&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/01e5ccde67.js" crossorigin="anonymous"></script>
</head>

<body>
    <header class="main-header">
        <div class="main-header-top-bar">
            <a href="#" class="hamburguer-button">
                <i class="fas fa-bars"></i>
            </a>
            <img class="logo" src="/images/sk8-logo.png">
    
            <form class="search" action="" method="post" target="_blank">
                <p> 
                    <input  type="search" placeholder="Buscar productos"><button type="submit" value="Buscar"><i class="fas fa-search"></i></button>
                </p>
            </form>
    
            <a href="#" class="user">
                <i class="fas fa-user  fa-2x"></i>
            </a>
    
            <a href="#" class="shopping-cart">
                <i class="fas fa-shopping-cart  fa-2x"></i>
            </a>
            
        </div>
    
        <nav class="main-navbar">
            <ul>
                <li><a href="#">Mi primer Skate</a></li>
                <li><a href="#">Skates</a></li>
                <li><a href="#">Tablas</a></li>
                <li><a href="#">Trucks</a></li>
                <li><a href="#">Ruedas</a></li>
                <li><a href="#">Rulemanes</a></li>
                <li><a href="#">Lijas</a></li>
                <li><a href="#">Accesorios</a></li>
                <li><a href="#">Protecciones</a></li>
            </ul>
        </nav>
    </header>
    
    <section>

        <form action="/login" method="post">
            <h3>Por favor, iniciá sesión</h3>

            <fieldset>
                <label for="userName"></label>
                <input class="type" type="text" name="userName" id="userName" placeholder="Nombre de usuari@" required>
                <span class="feedback"></span>
            </fieldset>
    
            <fieldset>
                <label for="password"></label>
                <input class="type" type="text" name="password" id="password" placeholder="Contraseña" required>
                <span class="feedback"></span>
            </fieldset>
    
            <fieldset>
                <button class="sendButton" type="submit">Entrar</button>
            </fieldset>

            <fieldset>
                <button class="createButton" type="submit">Crear cuenta</button>
            </fieldset>
        </form>
    </section>
    
    <footer>
        <article class="pay-method">
            <h6>Medios de pago</h6>
            <ul>
                <li>Tarjetas</li>
                <li>Mercado Pago</li>
            </ul>
        </article>
    
        <article class="social-media">
            <h6>Redes Sociales</h6>
            <ul>
                <li><i class="fab fa-instagram fa-2x"></i></li>
                <li><i class="fab fa-youtube fa-2x"></i></li>
            </ul>
        </article>
    
        <article class="contact">
            <h6>Contacto</h6>
            <ul>
                <li>WhatsApp</li>
                <li>e-mail</li>
                <li>Local</li>
            </ul>
    
        </article>
    
    </footer>
</body>
