<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sk8-cart</title>
    <link href="css/cart.css" rel="stylesheet">
    <link href="css/header.css" rel="stylesheet">
    <link href="css/footer.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100;1,200;1,300;1,400;1,500&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/01e5ccde67.js" crossorigin="anonymous"></script>
</head>
<body>
    <%- include("./partials/header")%>

    <main>
        <section class="main-section">
            <h3 class="main-name">Artículos</h3>
            <article>                
                <img src="/images/skate.png" class="article-pic" alt="article-picture">
                <div class="right-part">
                    <h3 class="product-name">Skate Armado</h3>
                    <p class="costo-envio">Envio Gratis</p>
                    <label>Cantidad:</label>
                    <select name="cantidad">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                        <option value="7">7</option>
                        <option value="8">8</option>
                        <option value="9">9</option>
                        <option value="10">10</option>
                    </select>
                    <h2 class="product-price">$10.000</h2>
                </div>
                    <div class="article-bottom">
                        <a href="#">Eliminar</a>
                        <a href="#">Productos similares</a>
                    </div>
                
            </article>

            <article>
                <img src="/images/rueda.png" class="article-pic" alt="article-picture">
                <div class="right-part">
                    <h3>Ruedas</h3>
                    <p>Envio Gratis</p>
                    <label>Cantidad:</label>
                    <select name="cantidad">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                        <option value="7">7</option>
                        <option value="8">8</option>
                        <option value="9">9</option>
                        <option value="10">10</option>
                    </select>
                    <h2 class="product-price">$2.000</h2>
                </div>
                    <div class="article-bottom">
                        <a href="#">Eliminar</a>
                        <a href="#">Productos similares</a>
                    </div>
                
            </article>
        </section>

        <section class="envio-section">
            <label><h4 class="method">Método de envío:</h4></label>
            <select class="opciones" name="opcion">
                <option value="Envío">Envío</option>
                <option value="Retira">Retira en sucursal</option>
            </select>
        </section>
        <section class="pay-section">
            <h3 class="total">Total con Envío</h3>
            <h2 class="final-price">$12.000</h2>
            <p class="cuotas">Hasta 12 cuotas</p>
            <button type="submit" value="buy-now" class="buy-now">Finalizar compra</button>
        </section>
    </main>

    <%- include("./partials/footer")%>
</body>
</html>
