<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sk8 - Inicio sesi칩n</title>
    <link href="/css/header.css" rel="stylesheet">
    <link href="/css/login.css" rel="stylesheet">
    <link href="/css/footer.css" rel="stylesheet">
    
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100;1,200;1,300;1,400;1,500&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/01e5ccde67.js" crossorigin="anonymous"></script>
</head>
 
<body>
    <%- include("../partials/header")%>
    
    <section>

        <form class="userForm" action="/usuario/ingresa" method="post">
            <h3>Inici치 sesi칩n</h3>

            <fieldset>
                <label for="email"></label>
                <input class="type" type="text" name="email" id="email" placeholder="e-mail">
            </fieldset> 
            <div class="text-error">
                <% if (locals.errors && errors.email) { %>
                    <%= errors.email.msg %> 
                <% } %> 
            </div>
    
            <fieldset>
                <label for="password"></label>
                <input class="type" type="password" name="password" id="password" placeholder="Contrase침a">
            </fieldset>
            <div class="text-error">
                <% if (locals.errors && errors.password) { %>
                    <%= errors.password.msg %> 
                <% } %> 
            </div>

            <fieldset>
                <input type="checkbox" id="remember_me" name="remember_me" style="margin:5px"> Recordar mi cuenta
            </fieldset>
    
            <fieldset>
                <button class="sendButton" type="submit">Entrar</button>
            </fieldset>
        </form>
        
            <a href="/usuario/registro" class="createButton">Crear cuenta</a>
        
    </section>
    <%- include("../partials/footer")%>

</body>
